= stylesheet_link_tag 'admin/assets'
= javascript_include_tag 'admin/jquery.ui.widget'
= javascript_include_tag 'admin/jquery.iframe-transport'
= javascript_include_tag 'admin/jquery.fileupload'
= javascript_include_tag 'admin/assets'

#attachment_list.assets
  %ul#attachment_fields{:class => @page.page_attachments.empty? ? 'empty' : ''}
    = render :partial => 'admin/page_attachments/attachment', :collection => @page.page_attachments
  %p.note
    = link_to t('clipped_extension.assets'), '#attach_asset', :class => '', :id => "attach_assets"
    %span.message
      - if @page.page_attachments.empty?
        = t('clipped_extension.no_attached_assets')